@use '../utils' as *;

.featuredProperty {
  &__listing {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
  }

  &__items {
    flex: 1;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: rem(160);
  }

  &__titles {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
  }

  &__city {
    font-weight: 300;
  }

  &__price {
    font-weight: 500;
  }

  &__ratingBtn {
    background-color: var(--primary-700);
    color: var(--white);
    border: none;
    padding: rem(3);
    font-weight: bold;
  }

  &__ratingText {
    margin-left: rem(5);
    font-size: rem(14);
  }
}
