@use '../utils' as *;

.footer {
  //   width: 100%;
  //   max-width: rem(1024);
  font-size: rem(12);
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 rem(20);
  }

  &__listWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50);
  }

  &__listItem {
    margin-bottom: rem(5);
    cursor: pointer;
    color: var(--primary-700);
  }

  &__copyrightTxt {
    text-transform: capitalize;
    color: var(--primary-700);
    span {
      text-transform: uppercase;
    }
  }
}
