{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3.2,
        "useBuiltIns": "usage"
      }
    ],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],

  "plugins": [["@babel/plugin-transform-runtime", { "regenerator": true }]]
}
